
  <%= render 'static_pages/header' %>
  <%= render 'static_pages/menu' %>
  
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
  
  <%= render 'static_pages/footer' %>
