
  <%= render 'static_pages/header' %>
  <%= render 'static_pages/menu' %>

<h1>Nuevo Comentario respondiendo a: </h1>

<%= render 'newComment' %>

<%= link_to 'Back', comments_path %>


  <%= render 'static_pages/footer' %>
