  <%= render 'static_pages/header' %>
  <%= render 'static_pages/menu' %>

<div class="page-content">

  <div class="contributions"> 
    <div class="item">
      <div>
        <div>
          <%= @comment.content %>
        </div>
        
        <div class="bottom">
          <span><%= @comment.puntos %> points,</span>
            <span>by <%= link_to "#{getAuthor(@comment.user_id)}", "/users/#{@comment.user_id}", {style: "color: grey"}%></span>
            <span><%= link_to "#{time_ago_in_words(@comment.created_at)} ago", @comment %> </span>
          
        </div>
        <br></br>
      </div>
    </div>
  </div>
  
  <%= render "replies/form" %>
  
</div>
  <%= render 'static_pages/footer' %>