  <%= render 'static_pages/header' %>
  <%= render 'static_pages/menu' %>

<div class="page-content">

<p id="notice"><%= notice %></p>

  <div class="contributions">
    <% @comments.each.with_index(1) do |comment, index| %>
      <div class="item">
        <div>
          <span><%= index%>. &nbsp;</span>
        </div>
        <div>
          <span>
          <% if current_user %>
            <%= link_to image_tag("https://news.ycombinator.com/grayarrow.gif"), like_comment_path(comment), method: :put %>
          <% else %>
            <%= link_to image_tag("https://news.ycombinator.com/grayarrow.gif"), "/auth/twitter" %>
          <% end %>
          </span>
          &nbsp;
        </div>
        <div>
          <div>
            <%= comment.content %>
          </div>
          
          <div class="bottom">
            <span style="color:grey">
              <%= link_to "#{getAuthor(comment.user_id)}", "/users/#{comment.user_id}" %>
              <%= time_ago_in_words(comment.created_at) %> ago | on: 
              
              <%= link_to "#{comment.contribution.titulo}", "/contributions/#{comment.contribution.id}" %>
            </span>
            
          </div>
          
        </div>
        
          
      </div>
    <% end %>
  </div>
</div>
<%= render 'static_pages/footer' %>

