<%= render 'static_pages/header' %>
<%= render 'static_pages/menu' %>

<div class="page-content">

    <h3><%=current_user.name %>'s Comments</h3>
    <div class="contributions">
      <% @comments.each.with_index(1) do |comment, index| %>
      <div class="item">
        <div>
          <span><%= index%>.</span>&nbsp;
        </div>
        <div>
          <span>
            <% if current_user %>
              <%= link_to image_tag("https://news.ycombinator.com/grayarrow.gif"), like_comment_path(comment), method: :put %>
            <% else %>
              <%= link_to image_tag("https://news.ycombinator.com/grayarrow.gif"), "/auth/twitter" %>
            <% end %>
          </span>&nbsp;
        </div>
        <div>
          <div>
            <%= comment.content %>
          </div>
          <div class="bottom">
            <span style="color:grey">
              <%= link_to "#{getAuthor(comment.user_id)}", "/users/#{comment.user_id}", {style: "color: grey"}%>
              <%= time_ago_in_words(comment.created_at) %> ago | on: 
              
              <%= link_to "#{comment.contribution.titulo}", "/contributions/#{comment.contribution.id}", {style: "color: grey"}%>
            </span>
          </div>
        </div>
      </div>
      
      <% end %>
    </div>
    
    <h3><%= current_user.name %>'s Replies</h3>
    <div class="contributions">
       <% @replies.each.with_index(1) do |reply, index| %>
       
       <div class="item">
         <div>
           <span class="rank"><%= index%>.</span>&nbsp;
         </div>
         <div>
           <span class="reply_link">
          <% if current_user %>
            <%= link_to image_tag("https://news.ycombinator.com/grayarrow.gif"), like_reply_path(reply), method: :put %>
          <% else %>
            <%= link_to image_tag("https://news.ycombinator.com/grayarrow.gif"), "https://my-hacker-news-project.herokuapp.com/auth/twitter" %>
          <% end %>
          </span>&nbsp;
         </div>
         <div>
          <div>
            <%= reply.content %>
          </div>
          <div class="bottom">
            <%= link_to "#{getAuthor(reply.user_id)}", "/users/#{reply.user_id}" %>
            <%= time_ago_in_words(reply.created_at) %> ago | 
            <%= link_to "parent", "/comments/#{reply.comment.id}" %>
            | on: 
            <%= link_to "#{reply.contribution.titulo}", "/contributions/#{reply.comment.contribution.id}" %>
          </div>
         </div>
       </div>
        
    <% end %>
    </div>
   


</div>
<%= render 'static_pages/footer' %>