<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'http://findicons.com/files/icons/1607/ruby_on_rails/128/ror_logo.png' %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

</html>